

/* .content {
    grid-area: c;
    background: rgb(60, 255, 0);
    position: relative;
} */

canvas {
    min-width: 100%;
    font-family: 'Bai Jamjuree', Helvetica, sans-serif;
}

@media screen and (min-width: 760px) {
    .graphGrid {
        /* display: flex;
        flex-flow: row wrap; */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .barGraph {
        flex-basis: 100%;
        flex-grow: 1;
    grid-column: 1 / -1;
    }
}
