

/* .content {
    grid-area: c;
    background: rgb(60, 255, 0);
    position: relative;
} */

canvas {
    min-width: 100%;
    font-family: 'Bai Jamjuree', Helvetica, sans-serif;
    margin-bottom: 2rem;
}

.graphGrid {
    /* display: flex;
    flex-flow: row wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0;
    grid-gap: 2rem;
}

 .barGraph{
    grid-column: 1/span 2;
} 

.pieChart,.barGraph,.doughutChart{
    max-width: 70vw;
    border: 1px solid rgb(235, 235, 235);
   border-radius: 15px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

@media screen and (max-width: 760px) {
    

    .graphGrid {
        /* display: flex;
        flex-flow: row wrap; */
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem !important;
    }
   
    .pieChart,.barGraph,.doughutChart{
        max-width: 100vw;
        border: 0px solid rgb(235, 235, 235) !important;
        box-shadow: none;
    }
     .barGraph{
       
        grid-column: 1/span 1;
    }

   
   
}
