.graphGrid {
    padding: 2rem 2%;
}

.graphGrid > div {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 1rem 0;
}

canvas {
    min-width: 100%;
    font-family: 'Bai Jamjuree', Helvetica, sans-serif;
    padding: 2rem;
}

.pieChart button,
.doughutChart button,
.barGraph button {
    margin-bottom: 2rem;
}

.doughnutWrapper {
    position: relative; 
    z-index: -1;
    

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.doughnutWrapper canvas {
    grid-row: 1/2;
    grid-column: 1/-1;
}

.doughnutWrapper div {
    position: absolute;
    top: 55%;

    grid-row: 1/2;
    grid-column: 2/3;
    font-size: x-large;
    font-weight: 600;
    height: fit-content;
}

@media screen and (min-width: 293px) {
    .doughnutWrapper div {
        top: 50%;
        font-size: xx-large;
    }
}

@media screen and (min-width: 320px) {
    .doughnutWrapper div {
        top: 46%;
        font-size: xxx-large;
    }
}

@media screen and (min-width: 375px) {
    .doughnutWrapper div {
        top: 47%;
    }
}

@media screen and (min-width: 410px) {
    .doughnutWrapper div {
        top: 44%;
        font-size: 4rem;
    }
}

@media screen and (min-width: 480px) {
    .doughnutWrapper div {
        top: 44%;
        font-size: 4.5rem;
    }
}

@media screen and (min-width: 530px) {
    .doughnutWrapper div {
        top: 44%;
        font-size: 5rem;
    }
}

@media screen and (min-width: 580px) {
    .doughnutWrapper div {
        top: 42%;
        font-size: 6rem;
    }
}

@media screen and (min-width: 690px) {
    .doughnutWrapper div {
        top: 38%;
        font-size:9rem;
    }
}

@media screen and (min-width: 760px) {
    .doughnutWrapper div {
        top: 58.5%;
        font-size: 1rem;
    }
}




@media screen and (min-width: 900px) {
    .graphGrid {
        /* display: flex;
        flex-flow: row wrap; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2rem 0;
        gap: 1rem;
    }

    .doughnutWrapper div {
        top: 45%;
        font-size: 3.5rem;
    }

    .barGraph {
        flex-basis: 100%;
        flex-grow: 1;
    grid-column: 1 / -1;
    }

    .graphGrid div {
        margin: 0;

    }
}
