.Searchbar {
    border: 1px solid #50ABFF;
    border-radius: 2.31rem;
    background-image: url(../images/search.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    padding-left: 1.80rem;
    background-position: 0.5rem 0.45rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.sortSelector {
    background-color: #97CDFF;
    font-family: 'Fira Sans', Helvetica, sans-serif;
    border: 1px solid #97CDFF;
    border-radius: 2.31rem;
    padding: 0.5rem 1.5rem;
    width: 10rem;

    /** for the dropdown indicator */
    appearance: none;
    background-image: url("../images/dropDownBtnDrk.svg");
    background-repeat: no-repeat;
    background-position: right 1.5rem center;
    background-size: 0.95em;
}

#msg {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-family: 'Fira Sans', Helvetica, sans-serif;
}

.maskPw {
    -webkit-text-security: disc !important;
}

.division {
    margin: 1rem;
}

.subDivision {
    margin: auto;
}

.topDivision {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin: 1rem 0;
}

.topDivision .Searchbar {
    flex-grow: 1;
}

.topDivision .leftBorder {
    border-left: 1px solid #50ABFF;
    padding-left: 3rem;
}

.leftBorder .yellowBtn {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

table {
    min-width:100%;
    margin: auto;
    table-layout:fixed;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


th, td {
    border-collapse: collapse;
    border: 0 solid;
    
}

tbody {
    font-family: 'Fira Sans', Helvetica, sans-serif;
}

tbody:nth-child(odd){
background-color: rgba(200, 288, 255, 0.15);
}

table th {
    padding: 1.5rem;
    background-color: rgba(200, 288, 255, 0.5);
}

tr.heading th:first-child {
    border-radius: 20px 0 0 0;
}

tr.heading th:last-child {
    border-radius: 0 20px 0 0;
}

table td {
margin: 2rem;
padding: 1rem;
/* border: 1px solid grey; */
overflow-wrap:break-word;
}

.viewProfileBtn {
    border: 1px solid #00284E;
    border-radius: 18px;
    color: #FFFFFF;
    background-color: #00284E;
    padding: 0.3rem 1.2rem;
}

.admin-settings {
    text-align-last: left;
    padding: 1rem;
}



.dBlueBtn {
    background-color: #00284E;
    color: white;
    border: 1px solid #00284E;
    border-radius: 2.31rem;
}

.viewProfileBtn {
    cursor: pointer;
}
