.backBar {
    background-color: #00284E;
    padding: 0 1rem;
    text-align-last: left;
    margin-bottom: 1rem;
}

.backBar button{
    padding: 0.5rem 0.5rem;
    text-align: center;
    background-color: transparent;
    border: none;
    font-family: 'Bai Jamjuree', Helvetica, sans-serif;
    width: 5rem;
    padding-left: 2.5rem;
    font-size: large;
    color: #ffff;

    background-image: url("../images/backBtn.svg");
    background-repeat: no-repeat;
    background-position: 3rem 1.5rem;
    background-size: 0.95em;
    background-position: 0.6rem 0.8rem;
    background-size: 1em;
    cursor: pointer;
}

.box {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background: #C8E4FF;
    margin-bottom: 1rem;
}

.topOfTheBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.topOfTheBox h3, .studentAccountName {
    text-align: left;
    padding: 1rem;
    margin: 0;
}

.pagination {
    display: flex;
    align-content: center;
    align-items: flex-start;
}

.leftBtn, .rightBtn {
    /* width: 3rem; */
    border: none;
    background-color: transparent;
}

.pagination span {
    padding: 0 1rem;
}

.studentviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin: 1rem; */
    /* padding: 1rem; */
    align-content: space-evenly;
    text-align: center;;
}

.studentviews div {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 2rem;
    justify-content: flex-start;
    justify-items: start;
    align-content: flex-start;
}

.studentviews h4 {
    margin: 0;
    padding: .5rem 0;
}

.studentimage, .imageupload {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 1rem;
    text-align: center;
    gap: 4rem;
    background-color: #ffffff;
}

.studentImg {
    border-radius: 50%;
    max-width: 20%;
    padding: 0 1rem;
}

.studentImg img {
    max-width: 12.5rem;
}

.licenseimage, .studentupload {
    background-color: #ffffff;
    padding: 0 1rem;
}

.licenseimage h3 {
    flex: 1 0 100%;
    text-align-last: left;
    margin: 0;
    padding: 1rem 0 0 0;
    border-top: 2px solid #C8E4FF;
}

.licenseimage .studentimage, .imageupload {
    border-bottom: 2px solid #C8E4FF;
    gap: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.uploaded {
    width: 12.5rem;
    height: 9.37rem;
    float: left;
    object-fit: cover;
    margin-bottom: 1rem;
}

.uploaded img {
    object-fit: cover;
    height: 100%;
}
.notes {
    text-align: left;
    background-color: #ffffff;
    padding: 0 1rem;
}

.notes h4 {
    margin: 0;
    padding-top: 1rem;
    background-color: #ffffff;
}

.noteWrapper {
    width: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.noteWrapper textarea {
    padding: 1rem;
    background-color: rgba(155, 205, 255, 0.2);
    border: 1px solid rgba(155, 205, 255, 0.2);
    border-radius: 15px;
    font-family: 'Fira Sans', Helvetica, sans-serif;
    font-size: .9rem;
}

.noteWrapper button {
    text-align-last: right;
}

.notes h4{
    background-color: #ffffff;
    margin: 0;
    padding: 1rem 0;
}

.approveDecline {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1rem 5rem;
    border-top: 2px solid #C8E4FF;
}

.accept {
    border-radius: 1.71rem;
    background-color: #70BB6F;
    cursor: progress;
    width: 8rem;
    height: 2.5rem;
    border: none
}

.decline {
    border-radius: 1.71rem;
    background-color: #E77373;
    cursor: progress;
    width: 8rem;
    height: 2.5rem;
    border: none;
}


/**** STUDENT PROFILE ****/
.studentAccountName {
    text-align-last: left;
    margin: 0;
}

.studentupload {
    background-color: #ffffff;
    margin: 0 1rem;
    border-top: 2px solid #C8E4FF;
    padding: 1rem 0 0 0;
}

.studentupload .topOfTheBox {
    padding: 0;
}

.topOfTheBox h3 {
padding: 0;    
}

.imageupload {
    border-bottom: none;
}

.imageupload p {
    text-align: center;
}

.topOfTheBox .yellowBtn a {
    text-decoration: none;
    }

.whiteBg {
    background-color: #ffffff;
}

/***** UploadDocument.js *****/
/* .uploadDocs .topOfTheBox h2 {
    margin: 0;
}  */

.uploadDocs .imageupload {
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */

    display: flex;
    justify-content: space-evenly;

    gap: 1.5rem;
    padding-bottom: 2rem;
}

.uploadDocs .imageupload div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    
}

.uploadDocs .imageupload h3 {
    padding: 0 0 1rem 0;
    margin: 0;
}

.uploadDocs label {
    padding-bottom: .5rem;
    padding-top: 1rem;

    background: #00284E;
    border-radius: 40px;
    color: #ffffff;
    width: 5rem;
    height: 1.5rem;

    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.fitImg {
    padding-bottom: 1rem;
}

.uploadDocs img {
    object-fit: cover;
    width: 225px;
    height: 120px;
}

.uploadDocs .imageupload div input {
    width: fit-content;
}

.uploadDocs input[type="file"] {
    display: none;
}