.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

table {
  display:table;
  width:80%;
  margin: auto;
  table-layout:fixed;
}

table td {

  margin: 2rem;
  padding: 2rem;
  border: 1px solid grey;
}

table th {
  padding: 1.5rem;
  border: 1px solid grey;

}

.three {
  padding-left: 2.5rem;
}

.four {
  padding-left: 6rem;
}

.five {
  padding-left: 6.5rem;
}

.views div {
  border: 1px solid black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  text-align: center;
  
}
button{
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 1rem;
  font-size: larger;
  text-align: center;

  
}
.react-calendar__viewContainer{
  max-width: 100rem;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
}

img{
  max-width: 400px;
}
nav{
  background-color: lightgray;

}
nav ul li{
  font-size: larger;
  text-decoration: none;
  list-style-type: none;
  
}

a{
  color: black;

}

footer{
  background-color: lightgray;
  padding: 2rem;
}

body {
  background:linear-gradient(0deg, rgba(254, 254, 254, 0.952), rgba(141, 150, 181, 0.634)), url("p1.jpg");


}