.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

table td {

  margin: 2rem;
  padding: 2rem;
}

table th {
  padding: 1.5rem;
}

.three {
  padding-left: 2.5rem;
}

.four {
  padding-left: 6rem;
}

.five {
  padding-left: 6.5rem;
}

.views div {
  border: 1px solid black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  text-align: center;
  
}
button{
  background-color: lightcyan;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: larger;
  text-align: center;

  
}
.react-calendar__viewContainer{
  max-width: 100rem;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
}