.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  text-align: center;
  font-size: smaller;
  margin: 0;
  padding: 0;
}

.visually-hidden {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

.fontFira {
  font-family: 'Fira Sans', Helvetica, sans-serif;
}

.yellowBtn {
  background-color: #FEC326;
  border: 1px solid #FEC326;
  border-radius: 2.31rem;
  cursor: pointer;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  padding: 0.3rem 1.2rem;
}


.dBlueBtn {
  background-color: #00284E;
  color: #ffffff;
  border: 1px solid #00284E;
  border-radius: 2.31rem;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  padding: 0.3rem 1.2rem;
}

.transparentBtn {
  background-color: #ffffff;
  color: #00284E;
  border: 2px solid #00284E;
  border-radius: 2.31rem;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  padding: 0.3rem 1.2rem;
}

button.duo {
  width: 6rem;
  height: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* VIEW PROFILE OF STUDENT (admin & student) */

.division {
  margin: 6.5rem auto 1rem auto;
  padding-bottom: 2rem;
  grid-column: 2/-1;
}


.three {
  padding-left: 2.5rem;
}

.four {
  padding-left: 6rem;
}

.five {
  padding-left: 6.5rem;
}

.views div {
  border: 1px solid black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-calendar__viewContainer{
  max-width: 100rem;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
}

footer{
  background-color: #202020;
  padding: 2rem;
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
 
   text-align: center;
}

/* body {
  background:linear-gradient(0deg, rgba(254, 254, 254, 0.952), rgba(141, 150, 181, 0.634)), url("p1.jpg");
} */

/* .studentimage {
  display: flex;
  justify-content: space-evenly;
} */

.studentview {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 1rem;
  padding: 1rem;
}

/* .studentupload {
  border-top: 1px solid gray;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
} */

/* .imageupload {
  display: flex;
  justify-content: space-evenly;
} */



.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #4d43dd;
}

nav{
  display: flex;
  flex-flow: column;
  height: 50rem;
}


.fullpage{
  /* display: grid;
  grid-template-columns: 1fr 3fr; */
  grid-gap: 0;
  height: 100vh;
}


td a,.studentupload a{
  color: black;
}

.page-name{
  padding-left: 1rem;
  
 margin: 0;
}
.page-name button{
  margin: 0 0.5rem;
  background-color: #00284E;;
  border: 2px solid #5cb0ff;

}
 


button {
  cursor: pointer;
}


.tick{
  max-width: 30%;
  border-radius: 50% 50%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.tick2{
  max-width: 30%;
  border-radius: 50% 50%;
}

a[href="/student-account-status"] {
  text-decoration: none;
}

.camTitle {
  color: black !important;
}


/* ***** MEDIA QUERIES***** */
@media screen and (min-width: 760px) {
  .fullpage {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }


  .division {
    margin: 5rem auto 1rem auto;
  }

}

/* end of media queries */
