.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

table {
  display:table;
  width:90%;
  margin: auto;
  table-layout:fixed;
}

table td {

  margin: 2rem;
  padding: 2rem;
  border: 1px solid grey;
  overflow-wrap:break-word;
}

table th {
  padding: 1.5rem;
  border: 1px solid grey;

}

.three {
  padding-left: 2.5rem;
}

.four {
  padding-left: 6rem;
}

.five {
  padding-left: 6.5rem;
}

.views div {
  border: 1px solid black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  text-align: center;
  
}
button{
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 1rem;
  font-size: larger;
  text-align: center;

  
}
.react-calendar__viewContainer{
  max-width: 100rem;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
}

img{
  max-width: 600px;
}
nav{
  background-color: #00284E;


}
nav ul li{
  font-size: larger;
  text-decoration: none;
  list-style-type: none;
  
}

a{
  color: white;

}

footer{
  background-color: #00284E;
  padding: 2rem;
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
 
   text-align: center;
}

/* body {
  background:linear-gradient(0deg, rgba(254, 254, 254, 0.952), rgba(141, 150, 181, 0.634)), url("p1.jpg");
} */

.studentAccountName {
  text-align: left;
  background-color: #5cb0ff;;
  padding: 1rem;
  color: #00284E;
}

.studentimage {
  display: flex;
  justify-content: space-evenly;

}
header img{
  color: white;
}

.studentview {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 1rem;
  padding: 1rem;
}

.studentupload {
  border-top: 1px solid gray;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.imageupload {
  display: flex;
  justify-content: space-evenly;
}
.maindiv {
  padding: 1rem;
}

img{
  max-width: 12rem;
}

.Clendr{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-calendar__tile--now{
  background: skyblue !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #4d43dd;
}

nav{
  display: flex;
  flex-flow: column;
  height: 50rem;
}

nav a{
  text-decoration: none;
  
}

nav ul li{
  padding: 2rem 2rem;
  border-bottom: 2px solid white;
}

nav ul{
  margin: 0;
  padding: 0;
}
.Nav-menu{
  background-color: #00284E;
  width: 20rem;
}
.fullpage{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 0;
}


header img{
  padding-left: 5rem;
}

header{
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: left;
  height: 6rem;
  background-color: #00284E;
}
header h3,footer p{
  color: white;
}
nav li:hover{
  background-color: #5cb0ff;
  color: #00284E;
}

td a,.studentupload a{
  color: black;
}
footer{
  height: 1rem;
  padding: 1rem;
  

}

footer p{
  padding: 0;
  margin: 0;
}
.page-name{
  padding-left: 1rem;

 margin: 0;
}
.page-name button{
  margin: 0 1rem;
  background-color: #00284E;;
  border: 2px solid white;

}
 
.Searchbar{
  width: 50%;
  height: 3rem;
}

.division{
  margin: 1rem;
}