.page-name {
    cursor: not-allowed;
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: left;
    width: 100vw;
    height: 5rem;
    background-color: #00284E;
    align-items: center;
}

.logo {
    width: 17.9rem;
    border-right: 1px solid #50ABFF;
}

header h3,footer p{
    color: white;
}

header img{
    padding-left: 2.8rem;
    max-width: 50%;
}


 /* **** FOOTER ****  */
 footer{
    height: 1rem;
    padding: 1rem;
    /* width: calc(100% - 18rem);
    left: 18rem; */
  }
  
  .deskfoot{
    margin: 0;
    width: calc(100% - 18rem);
    padding-left: 18rem;
  }

  