

.parent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-top: 5rem;
}

.form1{
    background-color: #DDEFFF;
    max-width: 50%;
   
}


/* .label-input-wrapper label{
    text-align: right;
}

.ii-wrapper {
    display: flex;
    flex-flow: column nowrap;
} */