.parent {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
    /* margin-top: 5rem; */
    height: 100vh;
}
.school-cred{
    width: 18rem;
    text-align: center;
}
.dummy {
    grid-column: 1/10;
    grid-row: 1/2;
}

.dummy img {
    border-radius: 0px 50px 50px 0px;
}

.form1{
    /* background-color: #DDEFFF;
    max-width: 50%; */
    grid-column: 9/12;
    grid-row: 1/2;
    background: #DDEFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    height: 30rem;
    padding: 1.5rem 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 24rem;
}

.form1 img {
    max-width: 9rem;
    padding-bottom: 2rem;
}

.form1 p {
    font-size: smaller;
}

/* .label-input-wrapper label{
    text-align: right;
}

.ii-wrapper {
    display: flex;
    flex-flow: column nowrap;
} */

.ii-wrapper input {
    border-radius: 28.5px;
    border: 1px solid #00284E;
    width: 14rem;
    height: 2rem;
    padding: 0.25rem 1.7rem 0.25rem 1rem;
    font-size: 14px;   
}

@media screen and (max-width: 900px) { 
    .school-cred{
        width: 80vw;
        font-size: 17px !important;
        text-align: center;
    }
    .ii-wrapper input {
        border-radius: 28.5px;
        border: 1px solid #00284E;
        width: 9rem;
        height: 1.5rem;
        padding: 0 1.7rem 0 1rem;

        font-size: 20px;
    }
 
    .abc-wrapper input {
        border: none;
    
        font-size: 20px !important;
        margin: 0;
    }
    .abc-wrapper button {
        background-color: transparent ;
        border: none;
        padding: .3rem .4rem 0 0 !important;
        position: absolute;
        right: 0;
    }
    .form1 .yellowBtn {
        width: 10rem !important;
       height: 3.75rem !important;
    }
}

.abc-wrapper {
    border: 1px solid black;
    border-radius: 28.5px;
    display: flex;
    position: relative;
}

.abc-wrapper:focus {
    outline:none; 
     border:1px solid #4D90FE;
     -webkit-box-shadow: 0px 0px 5px  #4D90FE;
     box-shadow: 0px 0px 5px  #4D90FE;
}

.abc-wrapper input {
    border: none;

    font-size: 14px;
    margin: 0;
}
.abc-wrapper button {
    background-color: transparent ;
    border: none;
    padding: .6rem .4rem 0 0;
    position: absolute;
    right: 0;
}

.inputField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.label-input-wrapper label {
    display: flex;
    justify-content: flex-start;
}

.passwordWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .3rem;
}

#password {
    margin: 0;
    border: none;
}

.passwordWrapper img {
    width: 17px;
    padding: 0;
}

.form1 .yellowBtn {
    width: 7rem ;
   height: 2.5rem;
}

.forgot {
    color: black;
    text-decoration: none;
}