.form1{
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.label-input-wrapper {
    display: grid;
    grid-template-columns: 1fr  ;
    text-align: left;
    /* justify-content: center; */
}

.label-input-wrapper label{
    text-align: right;
}

.ii-wrapper {
    display: flex;
    flex-flow: column nowrap;
}