
.Nav-menu{
    background-color: #00284E;
    width: 25vw;
    z-index: 1;  
    min-width: 20rem;
}

nav img {
    max-width: 1.25rem;
    padding-right: 1rem;
}

nav {
    text-align-last: left;
    background-color: #00284E;
}

.Nav-menu a {
    color: white;
    text-decoration: none;
}

nav ul li{
    font-size: larger;
    text-decoration: none;
    list-style-type: none;
    padding: 1.5rem 1rem 1.5rem 5.5rem;
    background-size: 1.25rem; 
    background-repeat: no-repeat;
    background-position: 3rem 1.7rem;
    display: flex;
    text-align: left;

}

.dashboard {
    background-image: url(../images/dashboard.svg);
    
}

.travelOrder {
    background-image: url(../images/travelOrder.svg);
}

.finalList {
    background-image: url(../images/finalList.svg);
    background-position: 3rem 2rem;
}

.archive {
    background-image: url(../images/archive.svg);
    background-position: 3rem 2rem;
}

.settings {
    background-image: url(../images/settings.svg);
}

.logout {
    background-image: url(../images/logoutBtn.svg);
}

.studentAcct {
    background-image: url(../images/acctStatus.svg);
}

/*** HOVER - CHANGE ICON ***/
nav li:hover{
    background-color: #5cb0ff;
    color: #00284E;
    background-size: 1.20rem; 
    background-repeat: no-repeat;
    background-position: 3rem 1.7rem;
    
}

.dashboard:hover {
    background-image: url(../images/dashboardDrk.svg);
    
}

.travelOrder:hover {
    background-image: url(../images/travelOrderDrk.svg);
}

.finalList:hover {
    background-image: url(../images/finalListDrk.svg);
    background-position: 3rem 2rem;
}

.archive:hover {
    background-image: url(../images/archiveDrk.svg);
    background-position: 3rem 2rem;
}

.settings:hover {
    background-image: url(../images/settingsDrk.svg);
}

.logout:hover {
    background-image: url(../images/logoutDrk.svg);
}

.studentAcct:hover {
    background-image: url(../images/acctStatusDrk.svg);
}

.countInd {
    background-color: #FEC326;
    border: none;
    border-radius: 13.3px;
    width: 2.6rem;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* mohit's ==================================*/
.hamburg{
    display: none;
}

@media screen and (max-width: 900px) {

    .Nav-menu{
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}    

.logomob {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-open .Nav-menu{
    transform: translateX(0%) ;
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.logo{
    display: none;
}

.openbtn{
    background: transparent;
    border: 0px;
    margin: 0;
    text-align: left;
    padding-left: 1rem;
}
.crosbtn{
    background: transparent;
    border: 0px;
    margin: 0;
}
.hamburg{
    display: flex;
}

.hamburg img{
    padding-left: 0;
}

.mobmen{
    display: flex;
    flex-flow: row;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #00284E;
}
.mobmen img{
    max-width: 50%;
    padding: 0;
    margin: 0;
}
.Nav-menu{
    width: 100vw;
}

.page-name h3 {
    margin-left: -3.5rem;
}

}
